$break-small: 768px;

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    @media screen and (max-width: $break-small) {
        justify-content: center;
        padding-left: 0px;
        padding-right: 0px;
        background-color: black;
    }
}

.footer span {
    color: white;
    font-size: 2.5em;
    margin: 10px;

    a {
        text-decoration: none;
        color: white;
    }
}

