.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    color: white;
    padding: 5px 20px;
}

.footer span {
    color: white;
    font-size: 2.5em;
    margin: 10px;

    a {
        text-decoration: none;
        color: white;
    }
}

