.container {
    width: 80%;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.intro {
    text-align: center;
    color: white;
}
