.container {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.home {
    height: 100vh;
    background: linear-gradient( rgba(20,20,20, 0), black 95%), url("../images/home-background.jpg") no-repeat 50% 50%;
   // background-attachment: fixed; 
    background-size: cover;
    width: 100% !important;
}

.intro {
    text-align: center;
    color: white;
}

.sections {
    background: linear-gradient(black, rgba(0,0,0,0.7), black)
}

.section-wrapper {
    padding-top: 100px;
}

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-title h1 {
    color: white;
}