.text-fields {
    width:85%;
}

.email-dialog {
    text-align: center;
    overflow: hidden;
    width: 100%;
}

.send-email {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    width: 200px;
}