$break-medium: 1024px;
$break-small: 768px;
$break-smallest: 500px;


.projects {
    padding-bottom: 100px;
}

.project-link-icon {
    height: 32px;
    width: 32px;
}

.project-links {
    margin-top: 20px;
}

.project-links a {
    margin-right: 10px;
}

.project-detail {
    display: grid;
    grid-template-columns: 30% 70%;
}

.project-image img {
    height: 200px;
}

.tech-chip {
    margin: 10px;
}
