$break-small: 768px;

.work {
    justify-content: flex-start;
}

.work-wrapper {
    @media screen and (max-width: $break-small) {
        width: 100%;
        padding: 0px;
    }
}

.work-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-logo img {
    height: 50px;

    @media screen and (max-width: $break-small) {
        height: 35px;
    }
}

