body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
  height: 100vh;
  background: linear-gradient( rgba(20,20,20, .5), rgba(20,20,20, .5)), url("./images/home-background.jpg") no-repeat 50% 50%;
  background-attachment: fixed; 
  /* background: url("./images/home-background.jpg") no-repeat 50% 50%; */
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
